<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-epson-printer" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>epsonprint</name>
    <js-module name="epsonprint" src="www/epsonprint.js">
        <clobbers target="cordova.plugins.epsonprint" />
    </js-module>
</plugin>
